@font-face {
    font-family: 'Tangerine';
    src: url('../assets/fonts/Tangerine-Regular.woff2') format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'Tangerine';
    src: url('../assets/fonts/Tangerine-Bold.woff2') format('woff2');
    font-weight: bold;
}
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter24pt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display:swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter24pt-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display:swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter24pt-Bold.woff2') format('woff2');
    font-weight: bold;
    font-display:swap;
}

:root {
    --app-height: 100vh;
    --font-hero-heading: 'Tangerine', serif;
    --font-body: 'Inter', sans-serif;

    --font-size-hero-heading: clamp(56px, 5vw + 1rem, 96px);
    --font-size-nav: 16px;
    --font-size-paragraph: clamp(16px, 1.2vw + .5rem, 20px);
    --font-size-signature: 36px;
    --font-size-footer: 11px;

    --background-home-mobile: url('../assets/images/background-mobile.webp'); /* 750 x 1344 */
    --background-home-tablet: url('../assets/images/background-tablet.webp'); /* 1366 x 2048 */
    --background-home-desktop: url('../assets/images/background-desktop.webp'); /* 2560 x 1440 */
    --background-home: var(--background-home-mobile);

    --color-bg: #373831;
    --color-text: #E9E9E9;
    --color-highlight: #ffffff;

    --width-paragraph: 394px;
    --width-signature: 374px;

    --line-height-paragraph: 24px;

    --spacing-paragraph: var(--font-size-paragraph);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (min-width: 768px) {
    :root {
        --background-home: var(--background-home-tablet);
        --font-size-nav: 18px;
        --font-size-signature: 38px;
        --font-size-footer: 12px;
    }
}

@media (min-width: 1440px) {
    :root {
        --background-home: var(--background-home-desktop);
        --font-size-nav: 24px;
        --font-size-signature: 38px;
        --font-size-footer: 12px;
    }
}
