body {
    position: relative;
}

.background {
    background: var(--background-home) no-repeat center center/cover;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: var(--app-height);
    z-index: -1;
}

.title {
    font-family: var(--font-title);
    font-weight: bold;
    font-size: var(--font-size-title);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.nav-button {
    position: absolute;
    top: 20px;
    right: 30px;
    font-family: var(--font-body);
    font-weight: 600;
    font-size: var(--font-size-nav);
    text-decoration: none;
    color: var(--color-text);
}
